html, body {
  overflow: hidden;
  padding: 0; margin: 0;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.rikulo * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.v- {
  -webkit-box-sizing: border-box; /* <= iOS4, <= Android 2.3 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 0; /* turn off button and other's margin */
}

.v-button {
  font-weight: bold;
}
.v-ScrollView {
  overflow: hidden;
}
.v-ScrollView > .v-inner {
  position: absolute;
  width: 100%; height: 100%;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.v-Switch {
  overflow: hidden; width: 66px; /* 33 + 11 * 3 */
  height: 22px; /* includes border => 20px if exclude border */
  border-radius: 11px;
  border: 1px solid #999;
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.3);
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.v-Switch > .v-bg {
  overflow: hidden; width: 100%; height: 100%;
  border-radius: 11px;
}
.v-Switch .v-bgi {
  width: 100%; height: 100%;
  margin: 0 1px 1px -10px;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #3074e7), color-stop(0.5, #78a5ef));
  background: -moz-linear-gradient(top, #3074e7, #78a5ef 50%);
  background: linear-gradient(top, #3074e7, #78a5ef 50%);
}
.v-Switch > .v-slide {
  position: absolute;
  left: 0; top: 0; height: 20px;
}
.v-Switch > .v-slide > .v-text-on, .v-Switch > .v-slide > .v-text-off {
  position: absolute; left: -1px; top: 1px;
  height: 20px; line-height: 20px; width: 55px; /* 66 - 11 */
  text-align: center; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.v-Switch > .v-slide > .v-text-off {
  left: 54px; color: #7f7f7f;
}
.v-Switch > .v-slide > .v-knot {
  position: absolute; top: -1px; left: 43px; /* 33 + 11 - 1 */
  width: 20px; height: 20px;
  border-radius: 11px;
  border: 1px solid #969696;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, white), color-stop(0.05, #d7d7d7), color-stop(1, white));
  background: -moz-linear-gradient(top, white, #d7d7d7 5%, white);
  background: linear-gradient(top, white, #d7d7d7 5%, white);
}

.v-Switch.v-small {
  width: 46px; /* 22 + 8 * 3 */
  height: 16px; border-radius: 8px;
}
.v-Switch.v-small > .v-bg {
  border-radius: 8px;
}
.v-Switch.v-small > .v-slide {
  height: 14px;
}
.v-Switch.v-small > .v-slide > .v-text-on, .v-Switch.v-small > .v-slide > .v-text-off {
  height: 14px; line-height: 14px; font-size: 9px; width: 38px; /* 46 - 8 */
}
.v-Switch.v-small > .v-slide > .v-text-off {
  left: 37px;
}
.v-Switch.v-small > .v-slide > .v-knot {
  left: 29px; /* 22 + 8 - 1 */
  width: 14px; height: 14px; border-radius: 8px;
}

.v-dialog {
  border-radius: 3px;
  border: 2px solid #886;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  padding: 3px 5px;
  background: white;
}
.v-mask {
  position: fixed;
  opacity: .6;
  background: #E0E1E3;
}
