html, body {
  overflow: hidden;
  padding: 0; margin: 0;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

.v- {
  -webkit-box-sizing: border-box; /* <= iOS4, <= Android 2.3 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 0; /* turn off button and other's margin */
}

.v-ScrollView {
  overflow: hidden;
}
.v-ScrollView > .v-inner {
  width: 100%; height: 100%;
}

.v-dialog {
  border-radius: 3px;
  border: 2px solid #886;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  padding: 3px 5px;
  background-color: white;
}
.v-mask {
  position: fixed;
  opacity: .6;
  background: #E0E1E3;
}
