.black {
	background-color: #000000;
}

.block {
	text-align: center;
	overflow: hidden;
	z-index: 10;
	border-radius: 10px;
	border: 2px solid #444444;
	background-color: #CCCCCC;
	color: #444444;
	font-weight: bold;
	font-size: 14px;
}

.dashed-block {
	text-align: center;
	z-index: 5;
	border-radius: 10px;
	border: 2px dashed #888888;
	color: #888888;
	font-weight: bold;
	font-size: 14px;
}
