.v-Viewport {
	background-color: #cca;
}
.v-Viewport-inner {
	-webkit-box-sizing: border-box; /* <= iOS4, <= Android 2.3 */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	background-color: #eec;
}
.v-Viewport-title {
	padding: 3px;
	font-weight: bold;
	display: inline-block;
}
.v-Viewport-toolbar {
	display: inline-block;
}