body {
	margin: 0; padding: 3px 5px;
}
#v-simulator {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 8px;
	background-color: #c8c8aa;
	border: 1px solid #665;
	display: inline-block;
}
#v-simulator .v-top {
	height: 20px;
	font-size: 11px; color: white;
}
#v-simulator .v-bottom {
	height: 60px;
}
#v-simulator .v-left, #v-simulator .v-right {
	display: inline-block;
}
#v-simulator #v-main {
	display: inline-block;
	border: 1px solid #332;
	width: 320px; height: 480px; /*default as iphone*/
	background-color: white;
}
#v-simulator .v-home {
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 15px;
	border: 2px solid #665;
	width: 32px; height: 32px;
	background-color: #cacaa0;
}
#v-simulator .v-bottom .v-home {
	margin: 10px auto 0 auto;
}
#v-simulator .v-right .v-home {
	margin-left: 10px;
}

#v-dashboard {
	-webkit-box-sizing: border-box; /* <= iOS4, <= Android 2.3 */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	border-left: 1px solid #886;
	background-color: #ffe;
}

.v-dashboard-log {
	border: 1px solid #332;
	background-color: #eec;
	overflow: auto;
	padding: 3px;
	white-space: pre-wrap;
}